@import "./variables";

.gallery {
  background-color: $nav-bg;
  padding: 2rem 0;

  .button {
    @include center;
    margin-top: 2rem;
    a {
      background-color: transparent;
      border: 1px solid white;
      color: white;
      padding: 0.6rem 1.8rem;
      border-radius: 2rem;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .icon {
    width: 1rem;
    height: 1rem;
  }
}

.heroContainer {
  display: flex;
  position: relative;
  scroll-behavior: smooth;

  .imageContainer {
    display: flex;
    background-color: $nav-bg;
    transition: all 0.5s ease-in-out;
    padding: 3rem 0;
    gap: 2rem;
    img {
      width: 24rem;
      height: 12rem;
      object-fit: cover;
      transition: all 0.5s ease-in-out;
      border-radius: 1rem;

      @media (min-width: 768px) {
        width: 44rem;
        height: 25rem;
      }
    }
  }

  .leftIcon {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 50%;
    width: 3.5rem;
    height: 3.5rem;
    color: white;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .rightIcon {
    position: absolute;
    right: 0;
    top: 50%;
    width: 3.5rem;
    height: 3.5rem;
    color: white;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.firstLineContainer,
.secondLineContainer {
  height: 7rem;
  position: relative;
  overflow: hidden;

  .photobanner {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    white-space: nowrap;
    animation: bannermove 40s linear infinite;
  }

  .photobanner img {
    margin: 0 0.7em;
    border-radius: 0.5rem;
    width: 12rem;
    height: 7rem;
    object-fit: cover;
  }

  @media (min-width: 1440px) {
    height: 14rem;

    .photobanner img {
      border-radius: 1rem;
      width: 24rem;
      height: 14rem;
    }
  }
}

.secondLineContainer {
  margin-top: 1rem;

  .photobanner {
    animation: bannermove 50s linear infinite;
  }
}

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes leftMove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
