html,
body {
  padding: 0;
  margin: 0;
  contain: paint;
  font-family: "Apple Sans Regular", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  overflow: hidden;
}
