@import "./variables";

.bgVideo {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: sticky;
  left: 0;
  top: 0;
  z-index: -1;
}

.hero {
  @include center($direction: column, $justify: flex-end, $align: flex-start);

  position: relative;
  z-index: 3;
  margin-top: -110vh;
  height: 100vh;
  width: 100vw;
  font-family: "Apple Sans Medium", sans-serif;

  .content {
    @include center($direction: column, $justify: flex-end, $align: flex-start);

    gap: 2rem;
    padding: 0 1.5rem;
    position: absolute;
    h2 {
      font-family: "Apple Sans Bold", sans-serif;
      font-size: 2.5rem;
      line-height: 1.1;
      color: white;
      margin: 0;
    }

    a {
      @include center($justify: space-between, $align: center);

      background-color: white;
      border: none;
      padding: 0.7rem 2rem;
      border-radius: 2rem;

      &:hover {
        opacity: 0.9;
      }
    }

    p {
      color: white;
      padding: 1rem 0 3rem 0;
      font-size: 1.2rem;
    }
  }

  @media (min-width: 768px) {
    .content {
      padding: 0 8rem;

      h2 {
        font-size: 4.5rem;
        line-height: 1.1;
        letter-spacing: -0.2rem;
      }
    }
  }

  @media (min-width: 1440px) {
    gap: 2rem;

    .content {
      padding: 0 16rem;
    }
  }
}

.sectionValueProps {
  @include center($direction: column, $justify: flex-end, $align: flex-start);

  position: relative;
  z-index: 3;
  padding: 4rem 1.5rem;
  font-family: "Apple Sans Medium", sans-serif;

  ul {
    @include center(
      $direction: column,
      $justify: flex-start,
      $align: flex-start
    );

    padding: 0;
    gap: 3rem;
    list-style: none;
    font-family: "Apple Sans Bold", sans-serif;
    color: white;
    font-size: 1.8rem;
    line-height: 1.2;

    li {
      opacity: 0;
    }
  }

  @media (min-width: 768px) {
    ul {
      color: white;
      font-size: 3rem;
      line-height: 1.1;
      letter-spacing: -0.2rem;
    }
  }

  @media (min-width: 1024px) {
    padding: 4rem 8rem;
  }

  @media (min-width: 1440px) {
    padding: 4rem 16rem;

    ul {
      li {
        font-size: 3.8rem;
      }
    }
  }
}

.sectionValuePrices {
  background-color: $nav-bg;
  position: relative;
  z-index: 3;
  padding: 6rem 1.5rem;
  font-family: "Apple Sans Medium", sans-serif;

  ul {
    @include grid(1);

    margin: 0;
    padding: 0;
    list-style: none;
    color: white;

    li {
      display: block;
      padding: 0 0 5rem 0;

      h5 {
        font-size: 0.7rem;
        line-height: 1;
        margin: 0 0 1rem 0;
      }

      h3 {
        font-size: 1.6rem;
        line-height: 1;
        margin: 0;
      }

      .card {
        font-family: "Apple Sans Regular", sans-serif;
        color: $about-text;
        font-size: 1rem;
        line-height: 1.5;
        margin: 2rem 0;
      }

      a {
        background-color: white;
        color: black;
        border: none;
        padding: 0.7rem 1.5rem;
        border-radius: 2rem;

        &:hover {
          opacity: 0.9;
        }
      }

      .learnMore {
        display: flex;
        align-items: center;
      }

      .link {
        background-color: transparent;
        padding: 0 0.1rem 0 0;
        color: #0071e3;
      }

      .icon {
        color: #0071e3;
        width: 1rem;
      }

      .learnMore:hover {
        text-decoration: underline;
      }
    }
  }

  @media (min-width: 768px) {
    ul {
      @include grid(3);
      gap: 3rem;

      li {
        padding: 0;
      }
    }
  }

  @media (min-width: 1024px) {
    padding: 3rem 8rem 10rem 8rem;
  }

  @media (min-width: 1440px) {
    padding: 6rem 16rem 10rem 16rem;
    ul {
      li {
        h5 {
          font-size: 1.6rem;
        }

        h3 {
          font-size: 2.5rem;
        }
      }
    }
  }
}
