@import "./variables";

.tv {
  @include center($direction: column);
  padding: 4rem 1.5rem;

  header {
    font-size: 72px;
    font-family: "Apple Sans Bold", serif;
    text-align: center;
    margin: 2rem 0 1.5rem 0;
    line-height: 1.2;
    letter-spacing: -0.1rem;

    @media (min-width: 1024px) {
      font-size: 3.5rem;
    }

    @media (min-width: 1440px) {
      font-size: 4.6rem;
      line-height: 1;
      letter-spacing: -0.2rem;
    }
  }

  span {
    font-size: 0.9rem;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: $noti-button;
  }
}

.devices {
  @include grid($itemsCount: 3);
  margin: 4rem 0;
  gap: 3rem;

  .device {
    @include center($direction: column);
  }

  @media (min-width: 768px) {
    @include grid($itemsCount: 5);
  }

  @media (min-width: 1024px) {
    padding: 0 7rem;
  }

  @media (min-width: 1440px) {
    padding: 0 12rem;
    gap: 8rem;
  }
}

.supportedDevices {
  @include grid($itemsCount: 3);
  margin: 4rem 0;
  gap: 3rem;

  @media (min-width: 768px) {
    @include grid($itemsCount: 5);
  }

  @media (min-width: 1024px) {
    padding: 0 7rem;
  }

  @media (min-width: 1440px) {
    padding: 0 12rem;
  }
}

.tv .secondHeader {
  @extend header;
  font-size: 1.8rem;
  letter-spacing: -0.1rem;

  @media (min-width: 1024px) {
    font-size: 2.5rem;
  }
}
